html,
body {
  height: 100% !important;
}

.choice {
  transition: all 0.15s ease-in-out;
  letter-spacing: 0.075rem;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
  color: white;
  background-color: #112;
}

.enable .choice {
  transform: scale(0);
  animation: pop 0.275s forwards;
}

@keyframes pop {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.enable .choice:hover {
  background: orange !important;
  color: #112 !important;
}

.selected {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  color: white !important;
  background-color: orange !important;
}

.selected.incorrect {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  background-color: red !important;
}

.correct {
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  color: white !important;
  background-color: green !important;
}

.disabled > * {
  pointer-events: none;
}
